
<div class="menu">
  {{#link-to 'index' class='menu-item' }}Index{{/link-to}}
  {{#link-to 'chart1' class='menu-item' }}Chart1{{/link-to}}
  {{#link-to 'chart2' class='menu-item' }}Chart2{{/link-to}}
</div>

<br/>

{{outlet}}
